{% extends "layout.html" %}
{% block title %}Delete Vehicle{% endblock %}
{% block content %}
<div class="container">
    <h1>Delete Vehicle</h1>
    <form action="{{ url_for('delete_item', item_name=item.name) }}" method="post">
        <div class="form-group">

            <h6>Are you sure you want to delete the vehicle {{ item.name }}?</h6>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            <button type="submit" class="btn btn-primary">Delete</button>
            {% for category in categories if item.category_id == category.id %}
            <a class="btn btn-secondary"
                href="{{ url_for('show_item', category_name=category.name, item_name=item.name) }}"
                role="button">Cancel</a>
            {% endfor %}
    </form>
    <div>
{% endblock %}