{% extends "layout.html" %} {% block title %}Homepage{% endblock %} {% block
content %}
{% include "export_buttons.html" %} 
{% include "add_item_button.html" %} 

<div class="container">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for item in latest_items %} {% for category in categories if
        item.category_id == category.id %}

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">            
            {% if item.image_url != none %}
            <img
              class="card-img-top"
              src="{{ item.image_url }}"              
            />
            {% else %}
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png"/>
            {% endif %}
            <div class="card-body">
              <p class="card-text">{{ item.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a
                    class="btn btn-sm btn-outline-secondary"
                    href="{{ url_for('show_item', category_name=category.name, item_name=item.name) }}"
                    role="button"
                    >Details</a
                  >
                </div>
                <small class="text-muted">{{ category.name }}</small>
              </div>
            </div>
          </div>
        </div>

        {% endfor %} {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}