<!doctype html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Vehicles Catalog</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f1131449f4.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-social.css') }}">
   
    {% block head %}
    {% endblock head %}
</head>

<body>
    <header>
        <div
            class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"> <a href="/"> Vehicles Catalog</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
                {% for category in categories %}
                <a class="p-2 text-dark"
                    href="{{ url_for('show_items', category_name=category.name) }}">{{ category.name }}</a>
                {% endfor %}
            </nav>
            {% if 'username' not in session %}
            <a class="btn btn-outline-primary" href="{{ url_for('show_login') }}">Sign up</a>
            {% else %}
            <a class="btn btn-outline-primary" href="{{ url_for('show_my_items') }}">My vehicles</a>
            <a class="btn btn-outline-primary" href="{{ url_for('logout')}}">logout</a>
            {% endif %}
        </div>
    </header>

    <main role="main">
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-warning" role="alert" id="alertapp">
            {{ message }}
        </div>
        <script>
               setTimeout(function() {                     
                    document.getElementById("alertapp").remove()
                }, 2000);
        </script>
        {% endfor %}

        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock content %}

    </main>

</body>

</html>